<!-- Our Work Section -->
<div id="work" class="page">
	<div class="container">
    	<!-- Title Page -->
        <div class="row">
            <div class="span12">
                <div class="title-page">
                    <h2 class="title">Our Games {{title}}</h2>
                    <!--<h3 class="title-description">Check Out Our Projects on <a href="#">Dribbble</a>.</h3>-->
                </div>
            </div>
        </div>
        <!-- End Title Page -->
        
        <!-- Portfolio Projects -->
        <div class="row">
        	<div class="span3 text_align_center">
                <!-- Filter -->
                <div class="btn-group mb filter-items">
                    <button type="button" class="filter-label btn default no-shadow" data-filter="*">All</button>
                    <button type="button" class="filter-label btn default no-shadow active" data-filter=".people">Runner</button>
                    <button type="button" class="filter-label btn default no-shadow" data-filter=".graphics">Arcade</button>
                    <button type="button" class="filter-label btn default no-shadow" data-filter=".cats">Adventure</button>
                </div>
                <!-- End Filter -->
            </div>
            
            <div class="span9">
            	<div class="row">
                	<section id="projects">
                    	<ul id="thumbs">
                        
							<!-- Item Project and Filter Name -->
                        	<li class="item-thumbs span3 runner">
                            	<!-- Fancybox - Gallery Enabled - Title - Full Image -->
                            	<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Botia And Friends" href="//matapanda-studio.firebaseapp.com/_include/img/games/thumbs/botia.png">
                                	<span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <img src="//matapanda-studio.firebaseapp.com/_include/img/games/thumbs/botia.png" alt="Botia and Friends is an adventure game inspired by Jambi ornamental fish 'Botia Macracantha'. The game challenges players to collaborate with Botia (and various indonesian fish) to carry out a rescue mission to safe the ocean from desctructive and illegal fishing.">
                            </li>
                        	<!-- End Item Project -->
                            
							<!-- Item Project and Filter Name -->
                        	<li class="item-thumbs span3 arcade">
                            	<!-- Fancybox - Gallery Enabled - Title - Full Image -->
                            	<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The Office" href="//matapanda-studio.firebaseapp.com/_include/img/work/full/image-02-full.jpg">
                                	<span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <img src="//matapanda-studio.firebaseapp.com/_include/img/work/thumbs/image-02.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
                            </li>
                        	<!-- End Item Project -->
                            
							<!-- Item Project and Filter Name -->
                        	<li class="item-thumbs span3 adventure">
                            	<!-- Fancybox - Gallery Enabled - Title - Full Image -->
                            	<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="When Alien Solving Maths" href="//matapanda-studio.firebaseapp.com/_include/img/games/thumbs/alien.png">
                                	<span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <img src="//matapanda-studio.firebaseapp.com/_include/img/games/thumbs/alien.png" alt="When Alien Solving Math adalah sebuah game edutaiment yang dapat membantu mengasah kemampuan menjawab soal matematika. Pemain harus membantu Alien untuk mendapatkan koin sebanyak mungkin, mengalahkan musuh dan menjawab soal dalam permainan agar dapat menyelesaikan permainan.">
                            </li>
                        	<!-- End Item Project -->
                        </ul>
                    </section>
                    
            	</div>
            </div>
        </div>
        <!-- End Portfolio Projects -->
    </div>
</div>
<!-- End Our Work Section -->
