<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if (IE 9)]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html lang="en-US"> <!--<![endif]-->
<html>
	<head>

	<!-- Meta Tags -->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
	<meta name="description" content="Insert Your Site Description" /> 

	<!-- Mobile Specifics -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="HandheldFriendly" content="true"/>
	<meta name="MobileOptimized" content="320"/>
	<!-- Mobile Internet Explorer ClearType Technology -->
	<!--[if IEMobile]>  <meta http-equiv="cleartype" content="on">  <![endif]-->

    <title>MataPanda Studio - {{title}}</title>

	<!-- Fav Icon -->
	<link rel="shortcut icon" href="/images/favico.png">
	<link rel="apple-touch-icon" href="/images/favico.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/images/favico.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/images/favico.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/images/favico.png">


	<!-- Global Css -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro" rel="stylesheet">
	<link href="/stylesheets/fonts.css" rel="stylesheet">

	<link href="/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="/components/supersized/slideshow/css/supersized.css" rel="stylesheet">
	<link href="/stylesheets/style.css" rel="stylesheet">
	<!-- End Global Css -->

	<!-- Page Css -->
	<!-- End Page Css -->

  </head>
  <body>
	<!-- This section is for Splash Screen -->
	<div class="ole">
	<section id="jSplash">
		<div id="circle"></div>
	</section>
	</div>
	<!-- End of Splash Screen -->

	<!-- Homepage Slider -->
	<div id="home-slider">	
	    <div class="overlay"></div>

	    <div class="slider-text">
	    	<div id="slidecaption"></div>
	    </div>   
		
		<div class="control-nav">
	        <a id="prevslide" class="load-item"><i class="font-icon-arrow-simple-left"></i></a>
	        <a id="nextslide" class="load-item"><i class="font-icon-arrow-simple-right"></i></a>
	        <ul id="slide-list"></ul>
	        
	        <a id="nextsection" href="#work"><i class="font-icon-arrow-simple-down"></i></a>
	    </div>
	</div>
	<!-- End Homepage Slider -->

	<!-- Header -->
	<header>
	    <div class="sticky-nav">
	    	<a id="mobile-nav" class="menu-nav" href="#menu-nav"></a>
	        
	        <div id="logo">
	        	<a id="goUp" href="#home-slider" title="MataPanda Studio">MataPanda</a>
	        </div>
	        
	        <nav id="menu">
	        	<ul id="menu-nav">
	            	<li class="current"><a href="#home-slider">Home</a></li>
	                <li><a href="#work">Our Games</a></li>
	                <li><a href="#about">About Us</a></li>
	                <li><a href="#contact">Contact</a></li>
	            </ul>
	        </nav>
	        
	    </div>
	</header>
	<!-- End Header -->

    {{{body}}}


	<!-- Socialize -->
	<div id="social-area" class="page-alternate">
		<div class="container">
	    	<div class="row">
	            <div class="span12">
	                <nav id="social">
	                    <ul>
	                        <li><a href="https://twitter.com/MaPanda" title="Follow Us on Twitter" target="_blank"><span class="font-icon-social-twitter"></span></a></li>
	                        <li><a href="https://www.facebook.com/games/botiafriends" title="Follow Us on Facebook" target="_blank"><span class="font-icon-social-facebook"></span></a></li>
	                        <li><a href="https://www.youtube.com/channel/UCwrlL55cFXK0czCQ_Ixo5Aw" title="Subscribe Our Channel on Youtube" target="_blank"><span class="font-icon-social-youtube"></span></a></li>
	                        <li><a href="https://plus.google.com/mapanda" title="Follow Us on Google Plus" target="_blank"><span class="font-icon-social-google-plus"></span></a></li>
	                        <li><a href="http://www.linkedin.com/in/mapanda" title="Follow Us on LinkedIn" target="_blank"><span class="font-icon-social-linkedin"></span></a></li>
	                        <li><a href="https://play.google.com/store/apps/developer?id=MataPanda" title="View our games on Google Playstore" target="_blank"><span class="font-icon-social-google-plus"></span></a></li>
	                    </ul>
	                </nav>
	            </div>
	        </div>
	    </div>
	</div>
	<!-- End Socialize -->

	<!-- Footer -->
	<footer>
		<p class="credits">&copy;2016 MaPanda Developer</p>
	</footer>
	<!-- End Footer -->

	<!-- Back To Top -->
	<a id="back-to-top" href="#">
		<i class="font-icon-arrow-simple-up"></i>
	</a>
	<!-- End Back to Top -->


	<!-- Global Js -->
	<script src="/components/jquery/dist/jquery.min.js"></script>
	<script src="/javascripts/modernizr.js"></script>
	<script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/components/supersized/core/js/supersized.core.3.2.1.min.js"></script>
	<script src="/components/isotope/dist/isotope.pkgd.min.js"></script>
	<script src="/components/waypoints/lib/jquery.waypoints.min.js"></script>
	<script src="/components/waypoints/lib/shortcuts/sticky.min.js"></script>
	<!-- End Global Js -->

	<!-- Page Js -->
	<!-- End Page Js -->
  </body>
</html>
